@font-face{
    font-family: nordic-font;
    src: URL(../fonts/Norse-Bold.otf)
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    
    
    
}
p{
    margin: 0;
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 20%;
    
    
}

.left{
    width: 45%;
    height: auto;
    background-image: URL("../img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    
}


.left h1{
    height: 100%;
    font-size: 100px;
    padding: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: white;
    font-family: nordic-font;
    
}
img{
    width: 90px;
    height: auto;
}

label{
    display: block;
}

.top, .bottom{
    background-color: rgb(250, 245, 245);
    flex: 1;
    
}

.top{
    padding-top: 120px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 20px;
}

.top p:first-child{
    margin-bottom: 12px;
    width: 80%;
    
}
.top p:first-child span, .top p:last-child span{
    font-style: italic;
}

.bottom{
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 20%;
    box-shadow: inset 0 10px 9px -7px rgba(0,0,0,0.4);
    
    
}

.right{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.form-content{
    padding-left: 24px;
    padding-right: 50px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

.form-content p:first-child{
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 24px;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    width: 500px;
}

